@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
  
  body{
    font-family:"Roboto",sans-serif;
    /*overflow-x: hidden;*/
    
  }
  #navbar{
  /*background:#0A0908;*/
    width:100%;
    background:#0A0908;
    position:fixed;
    top:0;
    z-index: 2;
  }
  
  #navbar ul{
    
    display:flex;
    width:30%;
    margin-left:auto;
    margin-right:3rem;
    justify-content:flex-end;
    list-style:none;
  }
  
  
  #welcome-section{
    width:100%;
    background:#0A0908;

    height:100vh;
    
  }
  .welcome-section-header{
    display:flex;
    align-items:center;     justify-content:center;  
    flex-direction:column;
    padding:0 2rem;  
  }
  
  #welcome-section h1{
    font-family:'Noto Sans KR', sans-serif;
    margin:190px auto 40px;
    color:#FFFBFC;
    font-size:6.5rem;
  }
  
  #welcome-section h1 span{
    color: #F1DB4B;
  }
  #welcome-section p{
    font-family:"Raleway", sans-serif;
    font-size:2rem;
    font-weight:lighter;
    color: #F1DB4B;
    letter-spacing:0.3rem;
    padding-top: 80px;
  }
  
  .nav-link{
    color: #FFFBFC;
    font-weight:800;
    font-family:"Work Sans", sans-serif;
    text-decoration:none;
    font-size:2rem;
    margin-right:3rem;
  }

  .nav-link:hover{
    color: #F1DB4B;
    }

  .arrowdown{
    margin-top: 10%;
  }

  .arrowdown a{
    font-size: 5.2rem;
    color: #FFFBFC;
    text-align: center;
    scroll-behavior: smooth;
   
  }

  .clickbar{
    width: 100%;
    margin-top:-30px;
  }
  .arrowdown a:hover{
    color: #F1DB4B;
    }

 #about-me{
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    }
  #about-me h2{
    margin:0px auto ;
    font-size: 3.5rem;
    color: #0A0908;
    font-weight:900;
    letter-spacing:3px;
    padding-bottom: 25px;
  }
  .about-me-image{
    width: 50%;
    text-align: center;
  }

  .about-me-desc{
    width: 50%;
    text-align:justify;
  }  
  .skills{
    display:flex;
    width:70%;
    justify-content:space-around;
    margin:0 auto;
    font-size: 4rem;
  }
  .skills li{
    list-style:none;
  }

  .projects-section{
    background:#FFFBFC;
    text-align:center;
    padding:3rem 2rem 4rem;
    scroll-behavior: smooth;

  }
  .projects-header{
    margin:2rem 0;
  }
  #projects h2{
    margin:0px auto ;
    font-size:3.5rem;
    color: #0A0908;
    font-weight:900;
    letter-spacing:3px;
  }
  .myprojects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap:3rem;
    /*max-width:;*/
    width:80%;
    margin:0 auto;
  }
  .project-tile{
    margin-bottom: 3rem;
    box-shadow: 0 5px 15px 5px rgba(203, 186, 60, 0.423);
    height: 26rem;
  }
  .project-desc{
    padding-bottom:2rem;
    background: rgb(0,0,0,1);
    /*background: radial-gradient(circle, rgba(241,219,75,1) 0%, rgba(0,0,0,1) 100%);*/
    color:#FFFBFC;
    font-family:"Work Sans", sans-serif;

  }
  .project-desc button{
    width: 80px;
    height: 40px;
    /*background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);*/
    color:#0A0908;
    background-color: #FFFBFC;
    border: none;
  }
  .project-desc button:hover{
    background-image: none;
    background-color: #F1DB4B;
    color: #0A0908;
    font-size: 1.3rem;
    font-weight: 600;
    font-family:'lato', sans-serif;

  }
  .myprojects-image{
    width:100%;
    object-fit:cover;
    height:calc(100% - 2rem);
  }

  .container-fluid{
    width: 83%;
    margin: 3rem auto;
    background-color: red;
  }

  .carousel-item{
    height: 450px;
  }

  /* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

  #contact-div{
    /*background-color: #F1DB4B;*/
    /*background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);*/
    width: 100%;
    padding: 4rem 0;
  }
  .contact-section{
    scroll-behavior: smooth;
    display:flex;
    flex-direction:column;
    width:76%;
    justify-content:center;
    text-align:center;
    /*height:80vh;*/
    margin:0 auto;
    background-color: #F1DB4B;
    /*background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);*/
    /*background-color: #FFFFFF;*/
    box-shadow: 0 5px 15px 5px rgb(0 0 0 / 50%);
    color:#FFFBFC;
  }
  .contact-section-header h2{
    font-size:3.5rem;
    padding:1.5rem 1.5rem 3rem;
    letter-spacing:5px;
    color: #0A0908;
    font-weight: 600;
  }
  .contact-section-header p{
    font-size:1.8rem;
    font-weight:700;
    color:#0A0908;
    font-family:'Work Sans', sans-serif;
  
  }
  .contact-button{
    font-size:3.5rem;
    
    transition:transform .3s ease-out;
    color:#0A0908;
    cursor:pointer;
  
  }
  .contact-links{
    display:flex;
    justify-content:space-around;
    max-width:40%;
    width:40%;
    margin:0 auto 2.5rem auto;
  }
  
  .contact-button{
    margin-right:12px;
  }
  .b1:hover{
    color: #4267B2;
  }
  .b2:hover{
    color: #898F9C;
  }
  .b3:hover{
    color: #3b5998;
  }
  .b4:hover{
    color: #1DA1F2;
  }
  .b5:hover{
    color: #4285F4;
  }
  footer{
    max-width:100%;
  /*  height:;
    background:;*/
    text-align:center;
    color:black;
   /* padding-top:1.5rem;
    padding-bottom:1rem;*/
  }
  footer p{
    letter-spacing:0.5rem;
    
  }
  footer span{
    color:#F1DB4B;
  }
  
  @media only screen and (max-width:600px){
    body{
    width:100%;
    max-width:580px;
    overflow-x:hidden;
    }

    #navbar{
      max-width:580px;
    }
    
    #navbar ul{
    display:flex;
    flex-direction:column;
    margin-left:0;
    } 
    
    #about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background-color: #F1DB4B;

  }
  .about-me-desc{
    width: 100%;
  }
  .about-me-image{
    width: 100%;
  }

  .container{
    width: 100%;
  }
  .carousel-item{
    
    width: 100%;
  }

 .skills{
    padding:10px 0;
    font-size:3rem;
    justify-content:space-between;
 }  
 #about-me{
  display:flex;
  justify-content:space-between;
  width:100%;
  padding:0 2rem;
}    
    
  }
  @media only screen and (max-width:900px){
    .arrowdown{
        display: none;
    }
    .myprojects-grid{
      max-width: 500px;
    }
    #about-me{
      display:flex;
      justify-content:space-between;
      width:100%;
      padding:0 2rem;
    } 

  }


@media only screen and (max-width:1100px){
  
  .myprojects-grid{
    max-width: 500px;
  }
  #about-me{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:0 2rem;
  }

}

  


  