@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family:Roboto,sans-serif;
    overflow-x: hidden;
    
  }
  #navbar{
  /*background:#0A0908;*/
    width:100%;
    background:#0A0908;
    padding:1.2rem;
    position:fixed;
    top:0;
  }
  
  
  
  #navbar ul{
    
    display:flex;
    width:30%;
    margin-left:auto;
    margin-right:3rem;justify-content:flex-end;
    list-style:none;
    padding:0rem;
  }
  
  
  #welcome-section{
    width:100%;
    background:#0A0908;
    height:100vh;
    
  }
  .welcome-section-header{
    display:flex;
    align-items:center;     justify-content:center;  
    flex-direction:column;
    padding:0 2rem;  
  }
  
  #welcome-section h1{
    font-family:'Noto Sans KR', sans-serif;
    margin:190px auto 40px;
    color:#FFFBFC;
    font-size:6.5rem;
  }
  
  #welcome-section h1 span{
    color: #F1DB4B;
  }
  #welcome-section p{
    font-family:"Raleway", sans-serif;
    font-size:2rem;
    font-weight:lighter;
    color: #FFFBFC;
  letter-spacing:0.3rem;
  }
  
  .nav-link{
    color: #FFFBFC;
    font-weight:800;
    font-family:"Work Sans", sans-serif;
   text-decoration:none;
    font-size:2rem;
    margin-right:3rem;
  }

  .nav-link:hover{
    color: #F1DB4B;
    }

  .arrowdown{
    margin-top: 10%;
  }

  .arrowdown a{
    font-size: 5.2rem;
    color: #FFFBFC;
    text-align: center;
    scroll-behavior: smooth;
   
  }

  .clickbar{
    width: 100%;
  }
  .arrowdown a:hover{
    color: #F1DB4B;
    }

 #about-me{
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    }
  #about-me h2{
    margin:0px auto ;
    font-size: 3.5rem;
    color:0A0908;
    font-weight:900;
    letter-spacing:3px;
    padding-bottom: 25px;
  }
  .about-me-image{
    width: 50%;
    text-align: center;
  }

  .about-me-desc{
    width: 50%;
    text-align:left;
  }  

  .projects-section{
    background:#FFFBFC;
    text-align:center;
    padding:4rem 2rem;
    scroll-behavior: smooth;

  }
  .projects-header{
    margin:3rem 0;
  }
  #projects h2{
    margin:0px auto ;
    font-size:3.5rem;
    color:0A0908;
    font-weight:900;
    letter-spacing:3px;
  }
  .myprojects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap:3rem;
    /*max-width:;*/
    width:85%;
    margin:0 auto;
  }
  .myprojects-image{
    width:100%;
    object-fit:cover;
    height:calc(100% - 2rem);
  }

  #contact-div{
    background-color: #F1DB4B;
    width: 100%;
    padding: 7% 0;
  }
  .contact-section{
    scroll-behavior: smooth;
    display:flex;
    flex-direction:column;
    width:80%;justify-content:center;
    text-align:center;
    /*height:80vh;*/
    margin: auto;
      background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  color:FFFBFC;
  }
  .contact-section-header h2{
    font-size:3.5rem;
    padding:1.5rem 1.5rem 3rem;
    letter-spacing:5px;
    color: #FFFBFC;
  
  }
  .contact-section-header p{
    font-size:1.8rem;
    font-weight:100;
    color:#F1DB4B;
      font-family:'Work Sans', sans-serif;
  
  }
  .contact-button{
    font-size:3.5rem;
    
    transition:transform .3s ease-out;
    color:#FFFBFC;
    cursor:pointer;
  
  }
  .contact-links{
    display:flex;
    justify-content:space-around;
    max-width:40%;
    width:40%;
    
    margin:0.5rem auto 2.5rem auto;
    flex-wrap:wrap;
  }
  
  .contact-button{
    margin-right:12px;
  }
  footer{
    max-width:100%;
  /*  height:;
    background:;*/
    text-align:center;
    color:black;
   /* padding-top:1.5rem;
    padding-bottom:1rem;*/
    margin:30px;
  
  }
  footer p{
    letter-spacing:0.5rem;
    
  }
  footer span{
    color:#F1DB4B;
  }
  
  @media only screen and (max-width:600px){
    body{
    width:100%;
    max-width:600px;
    }
    #navbar ul{
    display:flex;
    flex-direction:column;
    } 
    #navbar ul li{
    padding:5px 0;
    }
    #about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background-color: #F1DB4B;

  }
  .about-me-desc{
    width: 100%;
  }
  .about-me-image{
    width: 100%;
  }
    
    
  }
  @media only screen and (max-width:900px){
    .arrowdown{
        display: none;
    }

  }



  .mySlides {display: none}

  
/* Slideshow container */
.slideshow-container {
    max-width: 30%;
    position: relative;
    margin: auto;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  